table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    margin-bottom: 1rem;
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    line-height: 1.5;
}

th, td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    text-align: inherit;
    background-color: #f7f7f9;
    font-weight: bold;
}

tbody tr:nth-of-type(even) {
    background-color: #f8f9fa;
}



table {

    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    line-height: 1.5;
}

th, td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    text-align: inherit;
    background-color: #cb6437;
    color: #fff;
    font-weight: bold;
}

tbody tr:nth-of-type(even) {
    background-color: #f8f9fa;
}

tbody tr:hover {
    background-color: rgba(176, 108, 87, 0.63);
}

button{
    text-align: center;
    margin: auto;
    width: 100px;
    height: 30px;
    border-radius: 10px;

}

button:hover{
    background-color: rgba(176, 108, 87, 0.63) ;
}

h1{
    text-align: center;
    margin-top: 20px;
}

#table1{
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    line-height: 1.5;

}